main {
  padding: 20px;
}

#course-content h2 {
  font-size: 28px;
  color: #333;
}

#course-content p {
  font-size: 16px;
  color: #666;
}

.modules-list {
  margin-top: 20px;
}

.module {
  margin: 10px 0;
  font-size: 18px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.banner {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.banner-content h1 {
  font-size: 36px;
  margin: 10px 0;
}

.banner-content p {
  font-size: 18px;
  margin: 20px 0;
}

.banner-content button {
  padding: 10px 20px;
  background-color: white;
  color: #4CAF50;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#transform-world {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 30px 0;
  font-size: 24px;
}

#professional-challenges h2 {
  font-size: 26px;
  color: #333;
}

#professional-challenges img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#professional-challenges p {
  font-size: 16px;
  color: #666;
  text-align: center;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

footer img.dio-logo {
  width: 150px;
}

footer p {
  margin: 10px 0;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}
