* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--preto);
  color: var(--branco);
}

.banner {
  text-align: center;
  padding: 40px 20px;
   min-height: 600px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), 
    url('../assets/images/banner.png');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
}

.banner-content {
  max-width: 600px;
  margin: 0 auto;
}

.logo img {
  max-width: 200px;
  margin-bottom: 20px;
}

.banner h1 {
  color: var(--azul-dio);
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}

.banner p {
  margin-bottom: 20px;
  font-size: 18px;
}

.banner button {
  background-color: var(--azul-dio);
  color: var(--branco);
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.banner button:hover {
  background-color: #006acd;
}

#course-content {
  padding: 40px 20px;
  text-align: center;
}

#course-content h2 {
  color: var(--azul-dio);
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

#course-content p {
  max-width: 800px;
  margin: 0 auto 40px auto;
}

.modules-list {
  max-width: 600px;
  margin-top: 24px;
  margin: 0 auto;
}

.module {
  background-color: var(--azul-escuro);
  padding: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  border-radius: 5px;
  text-align: left;
}

.module span {
  color: var(--azul-dio);
  font-weight: bold;
}

#transform-world {
  text-align: center;
background-image: url('../assets/images/transform-world.png');
    background-size: cover;
    background-position: center;
    height: 560px;
    padding: 200px 20px;
}

#transform-world p {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 250px;
    margin: 0 auto;

}

#professional-challenges {
  padding: 40px 20px;
  text-align: center;
}

#professional-challenges h2 {
  color: var(--azul-dio);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

#professional-challenges img {
  max-width: 100%;
  margin: 30px 0;
}

#professional-challenges p {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--azul-escuro);
}

footer .dio-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

footer a {
  color: var(--azul-dio);
}

footer a:hover {
  text-decoration: underline;
}
